body{
  background-color: #EBECF1;
}
hr{
  border-style: None;
  border-top-style: dotted;
  border-color: #071C34;
  border-width: 5px;
  width: 5%;
}
h1{
  color: #1B262C;
  font-family: 'Merriweather', serif;
}
h2{
  color: #1B262C;
  font-size: 1.8em;
  padding-top: 5px;
  font-family: 'Hind', sans-serif;
}
h3{
  font-family: 'Anton', sans-serif;
  color: #3282B8;
}
h4{
  color: #0F4C75;
  font-family: 'Arvo', serif;
}
ul{
  list-style-type: none;
  padding: 2% 5%;
}
.row{
  margin-left: 0;
  margin-right: 0;
}
.container{
  text-align: center;
}
.container-left{
  left: 0;
  text-align: left;
  padding: 2% 7%;
}
.container-right{
  right: 0;
  text-align: right;
  padding: 2% 7%;
}
.imagen{
  padding: 40% 5%;
}
.lista-mostrar{
  list-style-type: disc;
}
@media screen and (max-width: 800px) {
   .imagen {
     display: none;
   }
}
/*.content{
  padding: 3%;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1);
}
image{
  width:10%;
  height:10%;
  background-size: cover;
  background-position: center;
  border: solid #ffffff;
  border-radius: 5%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  z-index: 2;
}
.content span {
   color: #2C7A7B;
   font-size: 1.1em;
   font-weight: bold;
}
.content p {
   line-height: 1.6;
   padding-top: 5px;
}*/
